



h1 {
    text-align: center;
    margin: 20px 0;
}

.posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.posts {
    text-align: center;
}

.post-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    transition: transform 0.2s;
    margin: 15px;
    display: inline-block;
    height: auto;
    vertical-align: top;

}

.post-card:hover {
    transform: translateY(-10px);
}

.post-image {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
}

.post-content {
    padding: 20px;
}

.post-content h2 {
    margin-top: 0;
}

.post-content p {
    margin: 10px 0;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.pagination .page-item {
    margin: 0 5px;
}

.pagination .page-link {
    padding: 10px 15px;
    border: 1px solid #ddd;
    color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.pagination .page-link:hover {
    background-color: #007bff;
    color: #fff;
}

.latest {
    position: relative;
    width: 100%;
    height: 100vh; /* Hauteur de la fenêtre */
    overflow: hidden;
}

.background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; /* Ajuste l'image pour couvrir toute la div */
    z-index: -1; /* Place l'image derrière le texte */
}

.overlay-text {
    position: absolute;
    bottom: 0%;
    left: 10%;
  margin: 10 ,20;
    color: white;
    font-size: 2rem;
    text-align: right;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Ajoute une ombre au texte pour le rendre plus lisible */
    z-index: 1; /* Assure que le texte est devant l'image */
    width: 80%;
    
}

.overlay-text > p {
    font-size: 1rem ;
    font-weight: 100;
    font-style: italic;
    }
